# ls
alias l='ls -CF'
alias la='ls -a'
alias ll='ls -l'
alias lla='ls -la'

# cd
alias cdd='cd ~/Development; clear'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# git
alias gaa='git add --all'

# apps
alias gcal='google-chrome-stable https://calendar.google.com/calendar/render#main_7%7Cmonth'
alias gdocs='google-chrome-stable https://docs.google.com/document/u/0/'
alias gkeep='google-chrome-stable https://keep.google.com'
alias gshop='google-chrome-stable https://shoppinglist.google.com'
alias taskx='google-chrome-stable https://trello.com/b/uNeSUPFl/tasks'
alias skype='gapp https://web.skype.com'
alias lyricsfy='gapp https://lyricsfy.pjnicolas.com/'
alias nightfm='gapp https://night.fm/'
alias roam='gapp https://roamresearch.com/'
alias notion='gapp https://www.notion.so/'
alias todoist='gapp https://todoist.com/app/today'
alias whatsapp='gapp https://web.whatsapp.com/'

# timers
alias 3min='google-chrome-stable https://www.google.com/search?q=countdown+3+minutes'
alias 5min='google-chrome-stable https://www.google.com/search?q=countdown+5+minutes'
alias 10min='google-chrome-stable https://www.google.com/search?q=countdown+10+minutes'

# network info
alias getip='ip address show wlo1 | grep "inet " | tr -s " " | cut -f3 -d" "'
alias getbssid='iw dev wlo1 link | grep SSID | cut -f2 -d" "'

# managers
alias manager-audio='pavucontrol'
alias manager-bluetooth='blueman-manager'
alias manager-wifi='wicd-gtk'

# retro emulators
alias emu-controller-xbox-one-dongle='xow'
alias emu-gamecube='dolphin-emu'
alias emu-wii='dolphin-emu'
alias emu-nes='nestopia'
alias emu-snes='snes9x-gtk'
alias emu-n64='mupen64plus'

# random
alias rm='trash' # Disable permanent remove
alias grepr='grep -rnw $1 -e $2' # Recursive grep (e.g. `grep ./src blue`)
alias op='xdg-open $@'
alias nightmode='redshift -P -O 3500'
alias daymode='redshift -P -O 6500'
alias react-native-open-devmenu='adb shell input keyevent KEYCODE_MENU'
alias kb-layout-es='setxkbmap -layout es'
alias kb-layout-us='setxkbmap -layout us'
alias ssh='TERM=vt100 ssh'

# ssh and vpn
alias ssh-zapp-dev='ssh root@165.227.239.205'
alias ssh-zapp-notrick='ssh root@64.225.77.206'
alias ssh-aws-alice='ssh ubuntu@13.36.14.0 -i $HOME/AWS/alice.pem'
alias vpn-saez-sap-salesforce='sudo openvpn --redirect-gateway ipv6 --config /home/pjnicolas/Programs/pedrojavier__ssl_vpn_config.ovpn --comp-lzo yes'

# docker
alias symfony-console="docker-compose exec --user $(id -u) php php bin/console"
alias symfony-composer="docker-compose exec php php -d memory_limit=-1 composer.phar"
alias symfony-test="docker-compose exec php php bin/phpunit --testdox"
alias dcdev="docker-compose -f docker-compose.yml -f docker-compose-development.yml up"
